body{
    margin:0;
    font-family: sans-serif;
    background-color: aquamarine;
}
*{
    box-sizing: border-box;
}
.header{
    text-transform: uppercase;
    text-align: center;
    color: blue;
    background-color: #0a0a23;
    border-bottom: 4px solid #fdb347;
    padding: 32px;
}
.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.gallery{
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:16px;
    padding: 20px 10px;
    margin:0 auto;
}
.gallery::after{
    content: "";
    width:350px;
}